
Testing Input Slider
<br>
<br>
Peru
<br>
<br>
	<br>
	<br>

<br>
<br>

<div class="col-sm-4">
<label for="fader">Volume</label>
<input type="range" min="0" max="100" value="50" 
	class="vertical" id="fader" orient="vertical" step="1" oninput="outputUpdate(value)">
<output for="fader" id="volume">50</output>	
</div>
	<br>
	<br>

<br>
<br>



<br>
<br>
<label for="state" accesskey="s">State / Province / Territory</label>
<select name="state" id=state">
	<option value="">-- choose one --
	<optgroup label="NYC">
		<option value="AL">Cloth Shopping
		<option value="CA">Food & Groceries
		<option> … remaining US states … 
	</optgroup>
	<optgroup label="Austin">
		<option value="AB">Alberta
		<option value="CA">British Columbia
		<option> … remaining provinces and territories … 
	</optgroup>
</select>



<br>
<br>
<br>
<br>




