input.vertical {
	-webkit-appearance: slider-vertical;
	writing-mode: bt-lr;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: #db0000;
      cursor:pointer;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      width: 10px;
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: pointer;;
      background: #434343;
      box-shadow: -300px 0 0 300px #469f0e;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #469f0e; 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #9a905d;
}